<a href="https://colab.research.google.com/github/SURESHBEEKHANI/Python-Basics-Fundamentals-for-Data-Science/blob/main/assignment_01_suresh_kumar_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##                                                         Assignment #01
                                                         Hope to Skills

                                           Free Artificial Intelligence Advance Course
                                           Submit By:Suresh Kumar From Umerkot Sindh tharparkar Pakistan

# Using the basic built in functions and apply the following.

# Python built string  Function

In [ ]:
# Use the print method to display the following string
print('Hello Pakistan! I am from Karachi')

In [ ]:
# Assign a string value to a variable
string = "Pakistan is the Best Country"

# Use the print method and the upper method to display the elements in uppercase
print(string.upper())

In [ ]:
# Use the print method and the lower method to display the elements in lowercase
print(string.lower())

In [ ]:
# Use the print method and the capitalize method to display the string with the first character in uppercase
print(string.capitalize())

In [ ]:
# Use the print method and the strip method to remove first and last white spaces from the string
print(string.strip())

In [ ]:
# Use the print method and the split method to convert the string into a list of elements
print(string.split())

# Python built-in Sets Function

In [ ]:
# Define a set using curly brackets and assign values
set_value = {'Karachi', 'Umerkot', 'Karachi', 12, 13, 12}

# Use the print method to display the set
print(set_value)

In [ ]:
# Use the add method to add a new element to the set
set_value.add('3')

# Use the print method to display the updated set
print(set_value)

In [ ]:
# Use the remove method to remove the element 'Karachi' from the set
set_value.remove('Karachi')

# Use the print method to display the updated set
print(set_value)

# **Task : 1**

 Create a list named "fruits" containing three different fruits and display its items
 using for loop. (Marks 10)

In [ ]:
# Create  a list of  fruits and assign  string values to the 'fruits_list'
fruits_list = ['Apple', 'Orange', 'Banana']

# Using a for loop to iterate item in the furits_list and display it
for fruit in fruits_list:
  #Use print and Lower methed  Display Results and Strings Show in Lower case
    print(fruit.lower())

Create a tuple named "numbers" with five random numbers and display its item
using for loop. (Marks 10)

In [ ]:
# Create a tuple of numbers and assign five random integer values
numbers_tuple = (1, 3, 10, 7, 10 ,9)

# Using a for loop to iterate through each number in the tuple and display it
for num in numbers_tuple:

  #Use print Function and Disply Output
    print(num)


 Create a set named "colors" with three different colors and display its items using
for loop. (Marks 10)

In [ ]:
# Create  a set named set_of_color and Assing string Value
set_of_color = {'Red', 'Black', 'Blue'}

# Using a for loop to iterate through each item in the set and display Results
for color in set_of_color:
    # Using the print function to display  Result
    #Use Upper methed show string in uppercase
    print(color.upper())

Create a dictionary named "student" with the following key-value pairs: (Marks20)

"name" as the key and the student's name as the value.
"age" as the key and the student's age as the value.
"grade" as the key and the student's grade as the value.

Iterate over the dictionary using the for loop and display its keys

In [ ]:
# Create  a dictionary named "student" with three key-value pairs
student = {

    'Name': 'Suresh',# Key: 'Name', Value: 'Suresh'
    'Age': '21',     # Key: 'Age', Value: '21'
    'Grade': 'A'     # Key: 'Grade', Value: 'A'
}

# Using a for loop to iterate over the keys of the "student" dictionary
for key in student.keys():
# Display each key of Student Dictionary
   print(key)

Iterate over the dictionary using the for loop and display its values

In [ ]:
# Using a for loop to iterate over the values of the "student" dictionary
for value in student.values():
    # Displaying each value of the "student" dictionary
    print(value)

Create a multi-line string named "poem" with a short poem of your choice.

In [ ]:
#Create a muline string Name Is poem
poem = """
          Beneath the silver moonlight's grace,
          A quiet world in soft embrace.
          Stars weave tales in the midnight sky,
          Whispers of dreams as time drifts by.
"""
# Use Print Function display Result
print(poem)

 Write an if statement to check if the length of the "fruits" list is greater than 3. If it
is, print "You have many fruits!

In [ ]:
# Create a list of fruits and assign string values to the 'fruits_list'
fruits = ['Apple', 'Mango', 'Banana', 'Strawberry']

# Use 'if' condition and 'len' method
# Check if the length of the fruits list is greater than 3
# Display the result "You Have Many Fruits"
if len(fruits) > 3:
    # Use the 'print' method to display the message
    print('You Have Many Fruits!')



Create a program that takes a student's numerical grade as input and prints a
corresponding letter grade. Use if-else statements to classify the grade into
categories such as "A," "B," "C," "D," or "F." (Marks 20)

If the numerical grade is 90 or higher, the corresponding letter grade is "A."

If the numerical grade is between 80 and 89 (inclusive), the corresponding
letter grade is "B."

If the numerical grade is between 70 and 79 (inclusive), the corresponding
letter grade is "C."

If the numerical grade is between 60 and 69 (inclusive), the corresponding
letter grade is "D."

If the numerical grade is below 60, the corresponding letter grade is "F."

In [ ]:
# Get the student numerical grade from user input
student_grade = int(input("Enter your numerical grade or marks: "))

# Check if the student grade is greater than or equal to 90
if student_grade >= 90:
    # Display a message that the grade is 'A'
    print('Your marks are', student_grade, 'and your grade is: (A)')

# Check elif the student grade is between 80 and 89
elif student_grade >= 80 and student_grade <= 89:

    # Display a message that the grade is 'B'
    print('Your marks are', student_grade, 'and your grade is: (B)')

# Check elif the student grade is between 70 to 79
elif student_grade >= 70 and student_grade <= 79:
    # Display a message that the grade is 'C'

    print('Your marks are', student_grade, 'and your grade is: (C)')

# Check elif the student grade is between 60 to 69
elif student_grade >= 60 and student_grade <= 69:
    # Display a message that the grade is 'D'

  print('Your marks are', student_grade, 'and your grade is: (D)')
# Check elif the student grade is below 60

elif student_grade < 60:
    print('Your marks are', student_grade, 'and your grade is: (F)')

Create a program that takes a temperature in Celsius as input from user and
classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."
Use if-else statements to define the temperature ranges for each category. (Marks20)

o If the temperature is below -10 degrees Celsius, it's classified as "Freezing."

o If the temperature is between -10 and 0 degrees Celsius (exclusive), it's

classified as "Cold."
o If the temperature is between 0 and 20 degrees Celsius (exclusive), it's

classified as "Moderate."
o If the temperature is between 20 and 30 degrees Celsius (exclusive), it's

classified as "Warm."
o If the temperature is 30 degrees Celsius or above, it's classified as "Hot."

In [ ]:


# Input temperature from user
temperature_celsius = float(input("Enter the temperature in Celsius: "))

# checked if temperature_Celsius  less then -10
if temperature_celsius < 10 :
    category = "Freezing"  #temperature  category  is Freezing

#Check if temperature_Celsius is less than equal to -10  or less then 0
elif -10 <= temperature_celsius < 0:
    category = "Cold"  # temperature category is  cold

#Checked if temperature_celsius  is  less the or Equal  to 0 or less then 20
elif 0 <= temperature_celsius < 20:
    category = "Moderate"  # temperature category is Moderate

#Check if temperature_clesius is less then equal to 20 or Less 30
elif 20 <= temperature_celsius < 30:
    category = "Warm"  #Temperature  category  is Warm

#check if  temperature_clesius Greater then 30
else:
    category = "Hot"  # Temperature  category is Hot

# Display the classification
print(f"The temperature {temperature_celsius} degrees Celsius is classified as {category}.")  # Showing the result to the user