Python buit-in Sets Methods with examples

In [ ]:
# Assign a collection of names to a set
set1 = {'suresh', 'kumar', 'beekhani'}

# Use the 'add' method to include the string 'Umerkot' in the set
# Sets are useful for storing unordered and unique data
set1.add('umerkot')

# Print the updated set to see the changes
print(set1)

In [ ]:
# Remove the string 'Umerkot' from the set1 using the 'remove' method
# Sets allow you to manage and manipulate unique, unordered data
set1.remove('umerkot')

# Print the set after removing the specified string to see the updated content
print(set1)

In [ ]:
# Remove the string 'kumar' from set1 using the 'discard' function
# Sets are helpful for handling unique and unordered data, allowing easy manipulation
set1.discard('kumar')

# Print the set after removing the specified string to observe the updated content
print(set1)

In [ ]:
# Initialize a set named set3 with string values representing unordered data collection
set3 = {'karachi', 'umerkot', 'Suresh', 'Beeekhni'}

# Utilize the 'pop' method to remove and return a random element from the set
# Note: The order of removal is not guaranteed in sets as they are unordered
set3.pop()

# Print the updated set after the pop operation
print(set3)

In [ ]:
# Use the 'clear' method to remove all elements from the set named set3
set3.clear()

# Print the empty set after clearing all elements
print(set3)

In [ ]:
# Assign int values to "set1" and "set2"
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using union() method to combine sets and assigning the result to "union_set"
# and Set not allow to duplicate value
union_set = set1.union(set2)

# Displaying the result using the print function
print("Union using union() method:", union_set)

In [ ]:
# Assigning values to set1 and set2
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 10, 10}
# Using the intersection method to find  similarity elements between set1 and set2
inter_set = set1.intersection(set2)
# Displaying the result of the intersection
print(inter_set)  # Output will show the common elements between set1 and set2

In [ ]:
# Creating a set named set1 with some elements
set1 = {1, 2, 3, 5, 6}

# Updating set1 with the common elements with another set {1, 3}
set1.intersection_update({1, 3})

# Printing the modified set1
print(set1)

In [ ]:
# Creating two groups of numbers in Set
group1 = {1, 2, 3, 4, 5}
group2 = {3, 4, 5, 6, 7}

# Use Difference methed and Finding the unique numbers in each group
unique_in_group1 = group1.difference(group2)
unique_in_group2 = group2.difference(group1)

# Printing the unique numbers in each group
print("Unique numbers in the first group:", unique_in_group1)
print("Unique numbers in the second group:", unique_in_group2)

In [ ]:
#Assing value in set "Group1", "Group2"
group1={1,2,3,5,}
group2={1,2,5,7}
#use difference_update and
difference_update=group2.difference_update(group1)
print(difference_update)

In [ ]:
# Creating two sets (similar to bags of toys)
bag1 = {'A', 'B', 'C', 'D'}
bag2 = {'C', 'D', 'E', 'F'}

# Using difference_update to keep only unique items in bag1
bag1.difference_update(bag2)

# Printing the updated bag1
print("Updated bag1 after removing common items:", bag1)

In [ ]:
# Assign a set of values to the original_set
original_set = {1, 2, 3}

# Use the copy method to create a copy of the original_set and assign it to copied_set
copied_set = original_set.copy()

# Print the original set
print("Original Set:", original_set)

# Print the copied set
print("Copied Set:", copied_set)

In [ ]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using symmetric_difference()Methed  to find the symmetric difference blw set1 and set2
result_set = set1.symmetric_difference(set2)

# Displaying the result
print("Symmetric Difference:", result_set)

In [ ]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using symmetric_difference_update() to update set1 with the symmetric difference
set1.symmetric_difference_update(set2)

# Displaying the updated set1
print("Updated set1:", set1)

In [ ]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Using issuperset() to check if set1 is a superset of set2
result = set1.issuperset(set2)

# Displaying the result
print(result)

In [ ]:
# Creating two sets
set1 = {1, 2}
set2 = {1, 2, 3}

# Using issubset() to check if set1 is a subset of set2
result = set1.issubset(set2)

# Displaying the result
print(result)

In [ ]:
# Creating two sets
set1 = {1, 2}
set2 = {3, 4}

# Using isdisjoint() to check if set1 and set2 have a null intersection
result = set1.isdisjoint(set2)

# Displaying the result
print(result)