# Python buit-in String Methods with example

In [49]:
# Use the print method to display the following string
print("Suresh Beekhani Data Scientist and ML Engineer ")

Suresh Beekhani Data Scientist and ML Engineer

In [50]:
# Assigning a string to the variable 'a'
a = "Suresh Beekhani as a data SCIENTIST and ML Engineer"

# Displaying the content of the variable 'a' using the print function
print(a)

Suresh Beekhani as a data SCIENTIST and ML Engineer

In [51]:
# This variable contains a multiline string
Var = """These examples cover various scenarios of splitting strings and lists
in Python. If you have a specific use case or scenario in mind, feel free
to provide more details for a more tailored example!
"""

# Print the content of the variable
print(Var)  # Display the content of the variable

These examples cover various scenarios of splitting strings and lists
in Python. If you have a specific use case or scenario in mind, feel free
to provide more details for a more tailored example!

In [52]:
#Use Upercase Methed and Make all Words in string  Show Upercase
upercase=a
print(upercase.upper())

SURESH BEEKHANI AS A DATA SCIENTIST AND ML ENGINEER

In [53]:
#Use Lower case Methed and Make all Word in  lowerCase
lowercase=a
print(lowercase.lower())

suresh beekhani as a data scientist and ml engineer

In [54]:
#Use Split Methed and convert String into List
split=a
print(split.split(","))

['Suresh Beekhani as a data SCIENTIST and ML Engineer']

In [55]:
#Use Capitalize Methed and Disply first Word of String
Capliaztion=a
print(Capliaztion.capitalize())

Suresh beekhani as a data scientist and ml engineer

In [56]:
#Use Replace Methed and Replace character "S" into "K" in All Sentences
replace=a
print(replace.replace("S","K"))

Kuresh Beekhani as a data KCIENTIKT and ML Engineer

In [57]:
#Use Replace Methed and Replace character "Ml " into "DL" in All Sentences
replace=a
print(replace.replace("ML ","DL"))

Suresh Beekhani as a data SCIENTIST and DLEngineer

In [58]:
#Use CaseFlod Disply all Sentence of  characters in Lowercase
caseflod = a
print(caseflod.casefold())

suresh beekhani as a data scientist and ml engineer

In [59]:
#Use Strip Methed and Remved Space Form stard _Ending Sentence
strip = a
print(strip.strip())

Suresh Beekhani as a data SCIENTIST and ML Engineer

In [60]:
#Use Title Methed and Make  first Charchter of each Words in string Show the  Uppercase
title = a
print(title.title())

Suresh Beekhani As A Data Scientist And Ml Engineer

In [61]:
#Use Count Methed and Count "A" character in Sentence
count = a
print(count.count("a"))

6

In [62]:
#Use Count Methed and Count "data " Word in Sentence
count = a
print(count.count("data"))

1

In [63]:
#Use Count Methed and Count all Charchter  in Sentence
count = a
print(count.count(""))

52

In [64]:
#Use Center Methed all sentences alignments in Center
center = a
print(center.center(100))

                        Suresh Beekhani as a data SCIENTIST and ML Engineer

In [65]:
#Use Type methed and Disply Type Objects
print(type(a))

<class 'str'>

In [66]:
# Using the swapcase() method to swap the case of letters in a string
Swapcase = a
print(Swapcase.swapcase())  # Prints the string with uppercase letters turned into lowercase and vice versa

sURESH bEEKHANI AS A DATA scientist AND ml eNGINEER

In [67]:
# Convert string to list using split()
tuple_data =list(a.split())
# Combine the elements of the tuple into a single string without spaces between sentences
joined_string = "".join(tuple_data)

# Print the result
print(joined_string)

SureshBeekhaniasadataSCIENTISTandMLEngineer

In [68]:
# Convert string to tuple using split()
tuple_data = tuple(a.split())
# Use the join method to remove spaces between all the words in the sentence
Joine = "".join(tuple_data)
print(Joine)  # Print the result after joining the words without spaces

SureshBeekhaniasadataSCIENTISTandMLEngineer

In [69]:
# Assign Value Of "a" Varible to "my_staring" Varible
my_string = a
#Use Print and len Methed and Disply Len Of my string Latters
print(len(my_string))

51

In [70]:
#Use Find Methed the index Postion  of the substring "World" in the string Sentence
my_string="Hello,World"
index = my_string.find("World")

# Print the result
print(index)#Output

6

In [71]:
# Use a variable named 'string' and assign a value of string data type to it
string = "Suresh Beekhani Ceo Of Insights Swape"

# Use the 'encode' method to convert the string into a format that computers can understand (encoding)
encoded_string = string.encode()

# Print the encoded information
print(encoded_string)

b'Suresh Beekhani Ceo Of Insights Swape'

In [72]:
# Assign a string to the variable named 'String'
String = "Suresh Beekhani Is a Ceo Of Insifgt Swapi >"

# Use the 'endswith' method to check if the string ends with the specified symbol (">")
String1 = String.endswith(">")

# Print the boolean result of the 'endswith' check
print(String1)

True

In [73]:
# Assign a string with tabs to the variable named 'string'
string = "H\te\tl\tl\to"

# Use the 'expandtabs' method with a tab size of 2 to replace tabs with spaces in the string
expanded_string = string.expandtabs(2)

# Print the resulting string after expanding tabs
print(expanded_string)

H e l l o

In [74]:
# This code demonstrates the use of string formatting in Python.
# The variable 'string' contains a template with a placeholder {price:.2f}.
# The .format() method is then used to substitute the placeholder with the value of 'price', formatted as a float with 2 decimal places.
string = "For only {price:.2f} dollars"
print(string.format(price=49))

For only 49.00 dollars

In [75]:
# Create a dictionary 'string' with keys 'x' and 'y' representing names.
string = {'x': 'suresh', 'y': 'Sureshbeekhani'}
# Use the format_map method to substitute values for placeholders {x} and {y} in the string.
# Finally, print a sentence combining the values assigned to 'x' and 'y'.
print("{x}'s last name is {y}".format_map(string))

suresh's last name is Sureshbeekhani

In [76]:
# Assign a string to the variable 'string'.
string = "suresh kumar beekhani from kumar line saddar "

# Use the index method to find the position of the substring "kumar" within the string.
print(string.index("kumar"))

7

In [77]:
# Assign a string to the variable 'my_string' containing both letters and numbers.
string1 = "Suresh123"
string2="suresh beekhani"


# Use the isalnum() method to check if the string contains only alphanumeric characters (letters and numbers).
# Print the result, which will be True if the string is alphanumeric, and False otherwise.
print(string1.isalnum())
print(string2.isalnum())

True
False

In [78]:
# Assign a string to the variable "stralp" containing letters
stralp1 = "Suresh123"
stralp2 = "Suresh"

# Use the isalpha() method to check if the string only contains alphabetic characters
print(stralp1.isalpha())  # Outputs True if the string consists of alphabets only
print(stralp2.isalpha())

False
True

In [79]:
# Assign a decimal number to the variable "str1"
str1 = "1234"

# Assign a float number to the variable "str2"
str2 = "0.122"

# Use the isdecimal() method to check if the value of str1 is a decimal number
# Outputs True if str1 is a decimal, False otherwise
print(f"The value  is Decimal :{str1.isdecimal()}")

# Use the isdecimal() method to check if the value of str2 is a decimal number
# Outputs True if str2 is a decimal, False otherwise
print(f"The value is flot: {str2.isdecimal()}")

The value  is Decimal :True
The value is flot: False

In [80]:
# Assign a whole number (3000) to a variable named digit1
digit1 = "3000"

# Assign a combination of numbers (2019) and a letter (u) to a variable named digit2
digit2 = "2019u"

# Use a method called isdigit to check if the content of digit1 consists only of digits (numbers)
# If it does, print True; otherwise, print False
print(digit1.isdigit())

# Use the same method isdigit to check if the content of digit2 consists only of digits (numbers)
# If it does, print True; otherwise, print False
print(digit2.isdigit())

True
False

In [81]:
#Assign A string Value to idenifier1 varible
identifier1 = "variable_name"
#Assgin a int_Sting Value to ideifier2 varible
identifier2 = "123_variable"
#use isidentifier Methed Check the string is only strig vale if the true other False
print(identifier1.isidentifier())  # Output: True
print(identifier2.isidentifier())  # Output: False

True
False

In [82]:
# Assign a string value to the identifier1 variable
identifier1 = "variable_name"

# Assign an int_string value to the identifier2 variable
identifier2 = "123_variable"

# Use the isidentifier method to check if the string contains a valid identifier
# Output: True for identifier1 as it only contains letters and underscores
print(identifier1.isidentifier())

# Output: False for identifier2 as it string  with a number, which is not allowed in identifiers
print(identifier2.isidentifier())

True
False

In [83]:
# Assign a string value in Uppercase to the variable "a"
a = "HELLO,WORD"

# Assign a string value in Lowercase to the variable "b"
b = "suresh123"

# Assign a string value in Lowercase to the variable "c"
c = "Kumar Beekhani"

# Use the islower method to check if the string is in lowercase
# Output: False for variable "a" as it contains uppercase letters
print(a.islower())

# Output: True for variable "b" as it consists only of lowercase letters
print(b.islower())

# Output: False for variable "c" as it contains uppercase letters
print(c.islower())

False
True
False

In [84]:
# Define a string with numeric characters
numeric_string = "12345"
# Use the isnumeric() method to check if the string is numeric
# Output: True since all characters are numeric
print(numeric_string.isnumeric())

# Define a string with a mix of numeric and non-numeric characters
mixed_string = "123abc"

# Output: False since the string contains non-numeric characters
print(mixed_string.isnumeric())

True
False

In [85]:
# Assign a string value without a tab to the variable 'string1'
string1 = "Hello, World!"

# Assign a value to a string with a tab to the variable 'string2'
string2 = "Hello\tWorld!"  # Contains a tab character, which is not printable

# Use the isPrintable method and check if the string without a tab is True, otherwise False
print(string1.isprintable())  # Output: True
# The string with a tab is not printable, so the output is False
print(string2.isprintable())  # Output: False

True
False

In [86]:
# Define an empty string variable named strig1
strig1 = "suresh"

# Define a string variable with a single space named strig2
strig2 = " "

# Check if strig1 consists only of whitespace characters and print the result
print(strig1.isspace())

# Check if strig2 consists only of whitespace characters and print the result
print(strig2.isspace())

False
True

In [87]:
# Assign a string with the first letter of each word capitalized to the variable "string1"
string1 = "Suresh Kumar Beekhani "
# Assign a string with all words to the variable "strig2"
strig2 = "Suresh kumar beekhani Karachi"

# Check if the first letter capitalized each Words IS OUT true otherwise False
print(string1.istitle())#True
print(strig2.istitle())#False

True
False

In [88]:
#Assing value to Dicunary in Numarcial
mydic={"suresh":50}
#Assing a string Value to variable " String "
strng="Hello Words"
#Using Translation Methed and Replace string into Dicuranry
print(strng.translate(mydic))

Hello Words

In [89]:
# Assign a numeric value as a string to the variable 'a'
a = "50"

# Use the zfill method to add 10 zeros to the left side of the string and store the result in 'paddd_a'
paddd_a = a.zfill(10)

# Print the padded string 'paddd_a'
print(paddd_a)

0000000050

In [90]:
# Using __add__ method to concatenate strings
result = 'Hello '.__add__('World')

# Printing the result
print(result)

Hello World

In [91]:
s = "hello"
result = s.__contains__('h')
print(result)  # Output: True

True

In [92]:
# Assign a string to the variable "s"
s = "hello Suresh beekhani How are U"

# Use the __contains__ method to check if the substring 'Hello How Are U' is present in the string 's'
# The result will be True if the substring is found, otherwise False
result = s.__contains__('hello ')

# Print the result to the console
print(result)

True

In [93]:
# Use the __eq__ method to check if the string '40' is equal to '60'
result = '40'.__eq__('60')

# Use the __eq__ method to check if the string '40' is equal to '40'
result1 = '40'.__eq__('40')

# Print the results to the console
print(result)   # Output: False, as '40' is not equal to '60'
print(result1)  # Output: True, as '40' is equal to '40'

False
True

In [94]:
# Access the character at index 1 in the string 'hello'
character_at_index_1 = 'hello'.__getitem__(1)

# Print the result to the console
print(character_at_index_1)

e

In [95]:
# Create an iterator for the string 'hello'
iterator = iter('hello')

# Use the __next__ method to get the next element from the iterator
next_element = iterator.__next__()

# Print the result to the console
print(next_element)

h

In [96]:
# Assign a string value to the variable 'length'
length = "Hello I am Suresh"

# Use the __len__ method to determine and display the length of the string
length_of_string = length.__len__()

# Print the length of the string to the console
print(length_of_string)

17

In [100]:
# Use the __mul__ method to repeat the string 'hello' two times
repeated_string = 'hello How are u '.__mul__(2)

# Print the result to the console
print(repeated_string)

hello How are u hello How are u

In [106]:
# Use the __ne__ method to check if the string 'hello' is not equal to 'world'
not_equal_result = 'world'.__ne__('world')
not_equal_result1 = 'Hello'.__ne__('world')
# Print the result to the console
print(not_equal_result)
print(not_equal_result1)

False
True

In [108]:
# Using the % operator for string formatting
result_percent = 'Number %s' % 10

# Print the result to the console
print(result_percent)

Number 10

In [120]:
# Use the __ge__ method to check if the string 'hello' is greater than or equal to 'a' in lexicographical order
comparison_result = 'hello'.__ge__('n')
comparison_result1 = 'hello'.__ge__('a')
# Print the result to the console
print(comparison_result)
print(comparison_result1)

False
True

In [122]:
# Use the __le__ method to check if the string 'hello' is less than or equal to 'jello' in lexicographical order
comparison_result = 'hello'.__le__('a')
comparison_result1 = 'hello'.__le__('j')

# Print the result to the console
print(comparison_result)
print(comparison_result1)

False
True

In [126]:
# Use the __lt__ method to check if the string 'hello' is less than 'jello' in lexicographical order
comparison_result = 'hello'.__lt__('aello')
comparison_result = 'hello'.__lt__('Jello')
# Print the result to the console
print(comparison_result)
print(comparison_result1)

False
True

In [127]:
# Reverse the characters in the string 'hello' and join them with an empty string
reversed_string = ''.join(reversed('Suresh'))

# Print the result to the console
print(reversed_string)

hseruS

In [128]:
# Use the __str__ method to convert the string 'hello' to its string representation
string_representation = 'hello'.__str__()

# Print the result to the console
print(string_representation)

hello

In [129]:
# Use the __hash__ method to generate a hash value for the string 'hello'
hash_value = 'hello'.__hash__()

# Print the hash value to the console
print(hash_value)

8492933595959489282

In [133]:
# Use an iterator to create a list of characters from the string 'Suresh beekhani '
character_list = [char for char in 'Suresh beekhani'.__iter__()]

# Print the result to the console
print(character_list)

['S', 'u', 'r', 'e', 's', 'h', ' ', 'b', 'e', 'e', 'k', 'h', 'a', 'n', 'i']

In [134]:
# Use the __sizeof__ method to get the size (in bytes) of the string 'hello'
size_of_string = 'hello'.__sizeof__()

# Print the size to the console
print(size_of_string)

54

In [136]:
# Use the __format__ method to format the string 'hello' with a width of 10 characters and right-align it
formatted_string = 'hello'.__format__('>100')

# Print the formatted string to the console
print(formatted_string)

                                                                                               hello

In [140]:
# Use the __dir__ method to retrieve a list of attributes and methods associated with the string 'hello'
attributes_and_methods = '1Suresh beekhani'.__dir__()

# Print the list to the console
print(attributes_and_methods)

['__new__', '__repr__', '__hash__', '__str__', '__getattribute__', '__lt__', '__le__', '__eq__', '__ne__', '__gt__', '__ge__', '__iter__', '__mod__', '__rmod__', '__len__', '__getitem__', '__add__', '__mul__', '__rmul__', '__contains__', 'encode', 'replace', 'split', 'rsplit', 'join', 'capitalize', 'casefold', 'title', 'center', 'count', 'expandtabs', 'find', 'partition', 'index', 'ljust', 'lower', 'lstrip', 'rfind', 'rindex', 'rjust', 'rstrip', 'rpartition', 'splitlines', 'strip', 'swapcase', 'translate', 'upper', 'startswith', 'endswith', 'removeprefix', 'removesuffix', 'isascii', 'islower', 'isupper', 'istitle', 'isspace', 'isdecimal', 'isdigit', 'isnumeric', 'isalpha', 'isalnum', 'isidentifier', 'isprintable', 'zfill', 'format', 'format_map', '__format__', 'maketrans', '__sizeof__', '__getnewargs__', '__doc__', '__setattr__', '__delattr__', '__init__', '__reduce_ex__', '__reduce__', '__subclasshook__', '__init_subclass__', '__dir__', '__class__']

In [141]:
# Use the __getattribute__ method to access the 'capitalize' method of the Space estring 'hello' and execute it
capitalized_string = 'hello suresh beekhani '.__getattribute__('capitalize')()

# Print the result to the console
print(capitalized_string)

Hello suresh beekhani

In [143]:
# Use the __getitem__ method to get the character at index 1 in the string 'hello'
character_at_index_1 = 'hello'.__getitem__(1)
character_at_index_2 = 'hello'.__getitem__(3)
# Print the result to the console
print(character_at_index_1)
print(character_at_index_2)

e
l

In [144]:
# Use the __getnewargs__ method to get arguments for object reconstruction for the string 'hello'
new_args = 'hello'.__getnewargs__()

# Print the result to the console
print(new_args)

('hello',)

In [145]:
# Use the __class__ attribute to get the class of the string 'hello'
class_of_string = 'hello'.__class__

# Print the result to the console
print(class_of_string)

<class 'str'>

In [146]:
# Create a new string using the str() constructor
new_string = str()

# Initialize the string 'hello' (implicitly) using the __init__ method
new_string.__init__('hello')

# Print the result to the console
print(new_string)

In [147]:
# Use the __new__ method to create a new string object with the content 'hello'
new_string = str.__new__(str, 'hello')

# Print the result to the console
print(new_string)

hello

In [150]:
# Use the __repr__ method to get a string representation of the object 'hello'
string_representation = 'hello'.__repr__()

# Print the result to the console
print(string_representation)

'hello'